{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false,
        "shippedProposals": true,
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ]
}
